.embla
  .embla__container
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')

  button#bt-next-slide.bt-move-slide(type="button") &#10095;
  button#bt-prev-slide.bt-move-slide(type="button") &#10094;



