.embla
  .embla__container
    .embla__slide
      img(src='../../img/1s.jpg' style='width:100%')
    .embla__slide
      img(src='../../img/2s.jpg' style='width:100%')
    .embla__slide
      img(src='../../img/3s.jpg' style='width:100%')
    .embla__slide
      img(src='../../img/4s.jpg' style='width:100%')
    .embla__slide
      img(src='../../img/5s.jpg' style='width:100%')

  button#bt-next-slide.bt-move-slide(type="button") &#10095;
  button#bt-prev-slide.bt-move-slide(type="button") &#10094;



