.embla
  .embla__container
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
    .embla__slide
      img(src='https://via.placeholder.com/1500x350' style='width:100%')
      
  button#bt-next-slide.bt-move-slide(type="button") &#10095;
  button#bt-prev-slide.bt-move-slide(type="button") &#10094;

// o pai tem position relative
// ambas as setas, vao ter absolute, top: 50%; transform: translate(0, -50%); (e somente a da direita, right: 0;)


//-     button#bt-next-slide.bt-move-slide(type="button") prev
//-     button#bt-previous-slide.bt-move-slide(type="button") next
