#filter.filter
  label(for='editoriais') Filtrar por Editoria:
  select#editoriais-select
    option(value='') Todas
    option(value='Esporte') Esporte
    option(value='País') País
    option(value='Rio') Rio
    option(value='Cultura') Cultura
    option(value='Internacional') Internacional
.grid__list
  //- .noticia
