nav.nav
  .nav__logo
    img(src="../../img/logo.svg", alt="Minuto News")
  ul.nav__menu
    li.nav__menu__item
      a.nav__menu__link(href="#") Início
    li.nav__menu__item
      a.nav__menu__link(href="#") Brasil
        ul.submenu
          li
            a.submenu__sub-item(href='') Submenu 01
          li
            a.submenu__sub-item(href='') Submenu 02
          li
            a.submenu__sub-item(href='') Submenu 03
          li
            a.submenu__sub-item(href='') Submenu 04
          li
            a.submenu__sub-item(href='') Submenu 05

    li.nav__menu__item
      a.nav__menu__link(href="#") Mundo
    li.nav__menu__item
      a.nav__menu__link(href="#") Blogs
    li.nav__menu__item
      a.nav__menu__link(href="#") Assine
