.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  position: relative;
  width: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.bt-move-slide{
  position: absolute;
  top: 50%;

}

#bt-next-slide{
  position: absolute;
  transform: translateY(-150%);
  right: 5%;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: red;
}

#bt-prev-slide{
  position: absolute;
  transform: translateY(-150%);
  left: 5%;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: red;
}

