doctype html
html(lang="pt-br")
    head
        include includes/_head.pug
    body
        include includes/_menu.pug
        include includes/_carrossel.pug
        include includes/_grid.pug
        include includes/_graphic.pug
        include includes/_map.pug
